body{
    /*background: #89dffa;*/
    background: linear-gradient(to bottom , #3da6d5,white );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.auction_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 720px;
    gap: 30px;
    width: 70%;
    /*border: #89dffa solid;*/
    /*background: linear-gradient(to right , #3da6d5,white );*/
}
.photo{
    border: white solid;
    width: 50%;
    height: 40%;
}

.comment_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px
}
.auction_bid_and_comment{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.bid_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px

}
.place_bid_button{
    background-color: #46aad6;
    border-radius: 4px;
    width: 70%;
    height: 40px;
    color: white;
    font-size: larger;
    font-family: Arial , sans-serif;
}
.place_bid_button:hover{
    transform: scale(1.05);
}
.title{
    font-family: Arial sans-serif;
    font-weight: 400;
    font-size: 50px;
}
.message{
    color: red;
    font-family: Arial sans-serif;
}