.photo_and_desc_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  /*margin-bottom: 2%;*/
}

.auction_info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 900px;
  gap: 35px;
  width: 90%;
}

.photo {
  border: white solid;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Arial sans-serif;
  font-weight: bolder;
  font-size: 50px;
  margin-left: 5%;
  color: #082163;
}

.description {
  text-align: left;
  width: 100%;
  height: auto;
  /*font-weight: ;*/
  font-size: larger;
}

.category_and_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
  width: 100%;
  color: #082163;
  font-family: Arial, sans-serif;
  gap: 50px;
  font-weight: bolder;
}

.not_allowed_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ea4747;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  color: white;
  font-family: Arial sans-serif;
  font-size: larger;
  margin-left: 5%;
}

.bid, .comment {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.bid, .comment {
  width: 70%;
  font-family: Arial, sans-serif;
  text-align: start;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 15px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: #082163 solid;
  border-radius: 18px;
  color: #082163;
}

.bid:hover, .comment:hover {
  transform: scale(1.02);
}

.bid_container, .comment_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  width: 60%;
  text-align: start;
}

.current_bid {
  margin-left: 20%;
  background-color: green;
  width: 14%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: larger;
  font-family: Arial, sans-serif;
  border-radius: 20px;
}

.money {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.labels_bid_comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 8%;
  color: #082163;
  font-weight: bolder;
  font-size: larger;
  width: 20%;
}

.auction_bid_and_comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  height: 30%;
  width: 100%;
}

.place_button {
  background-color: #082163;
  border-radius: 4px;
  width: 30%;
  height: 35px;
  color: white;
  font-size: larger;
  font-family: Arial, sans-serif;
  border: #082163 solid;
}

.comment {
  height: 80px;
}

.bid {
  height: 40px;
}

.place_button:hover {
  transform: scale(1.05);
}

.auction_comments {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #e8e7e7;
  height: 20%;
  border-radius: 10px;
  margin-left: 5%;
}

.auction_comments:hover {
  transform: scale(1.02);
}

.close_auction_link {
  display: flex;
  flex-direction: row;
  background-color: #aad8f8;
  color: #082163;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
  border: #082163 solid 3px;
  align-items: center;
  height: 35px;
  width: 10%;
  margin-left: 80%;
  margin-top: 1.5%;
  font-size: larger;
  font-family: Arial sans-serif;
}

.close_auction_link:hover {
  transform: scale(1.15);
}

.closing_auction_model {
  display: none;
  left: 50%;
  top: 50%;
  width: 40%;
  height: 50%;
  background: white;
  position: fixed;
  transform: translate(-50%, -50%);
  border-radius: 7px;
}

#closeWindow:target {
  display: block;
}

.head_of_window {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /*height: 10%;*/
}

.title_of_model {
  position: absolute;
  font-family: Arial sans-serif;
  margin-top: 5%;
  font-size: 30px;
  color: #082163;
}

.close_button {
  position: relative;
  left: 40%;
  margin-top: 2%;
  font-size: 40px;
  text-decoration: none;
  color: #082163;
}

.close_button:hover {
  transform: scale(1.25);
}

.body_of_model {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: #082163;
  font-size: 20px;
}

.footer_of_model {
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.dont_close_auction {
  display: flex;
  background-color: #082163;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 3px;
  width: 15%;
  height: 40px;
  text-decoration: none;
  font-family: Arial sans-serif;
  font-size: larger;
}

.close_auction {
  display: flex;
  background-color: #082163;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 3px;
  width: 15%;
  height: 40px;
  text-decoration: none;
  font-family: Arial sans-serif;
  font-size: larger;
}

.close_auction:hover {
  transform: scale(1.15);
}

.dont_close_auction:hover {
  transform: scale(1.15);
}

.comment, .bid {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

body {
  background: radial-gradient(circle at 70% 30%, #a1d9f8 0%, #c0e1f1 15%, #b3e5fc 35%, transparent 60%), radial-gradient(circle at 10% 90%, #8cd3fa 0%, #b7deef 15%, #b3e5fc 25%, transparent 60%), linear-gradient(135deg, #36b7f1, #47aeda);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.message {
  color: white;
  font-family: Arial, sans-serif;
}

.messages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f63131;
  min-width: 20%;
  height: 10%;
  margin-left: 6%;
  border-radius: 3px;
}

/*# sourceMappingURL=auction_page.css.map */
