@import 'auction_info';
@import 'bids_and_comments';
@import 'close_auction';
@import "variables";
@import "watchlist";


body {
  background: radial-gradient(circle at 70% 30%, #a1d9f8 0%, #c0e1f1 15%, #b3e5fc 35%, transparent 60%),
  radial-gradient(circle at 10% 90%, #8cd3fa 0%, #b7deef 15%, #b3e5fc 25%, transparent 60%),
  linear-gradient(135deg, #36b7f1, #47aeda);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.message {
  color: white;
  font-family: $my-font;
}

.messages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f63131;
  min-width: 20%;
  height: 10%;
  margin-left: 6%;
  border-radius: 3px;
}