.bid, .comment {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.no_watchlist_container, .close_auction_div, .body_of_model, .no_comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.go_to_home_link, .watchlist_change, .start_bid_watchlist, .close_auction_link, .dont_close_auction, .close_auction, .head_of_window, .money, .sold_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo_and_desc_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 100%;
  margin-left: 5%;
}

.auction_info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 900px;
  gap: 35px;
  width: 90%;
}

.photo {
  border: white solid;
  width: 100%;
  height: 500px;
}

.title {
  font-family: Arial, sans-serif;
  font-weight: bolder;
  font-size: 50px;
  margin-left: 5%;
  color: #082163;
  height: auto;
}

.description {
  text-align: left;
  width: 100%;
  height: auto;
  font-size: larger;
}

.category_and_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
  width: 100%;
  color: #082163;
  font-family: Arial, sans-serif;
  gap: 50px;
  font-weight: bolder;
}

.sold_container {
  background-color: #ea4747;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: larger;
  margin-left: 5%;
}

@media (max-width: 1100px) {
  .photo_and_desc_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .photo {
    width: 90%;
    height: 450px;
  }
  .description {
    text-align: center;
  }
  .sold_container {
    width: 90%;
  }
}
.bid, .comment {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.no_watchlist_container, .close_auction_div, .body_of_model, .no_comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.go_to_home_link, .watchlist_change, .start_bid_watchlist, .close_auction_link, .dont_close_auction, .close_auction, .head_of_window, .money, .sold_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.comment_time, .comment_text, .comment_author {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
}

.bid, .comment {
  width: 35%;
  font-family: Arial, sans-serif;
  text-align: start;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 15px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: #082163 solid;
  border-radius: 18px;
  color: #082163;
}

.bid:hover, .comment:hover {
  transform: scale(1.02);
}

.comment_container, .bid_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2%;
  width: 100%;
  text-align: start;
}

.current_bid {
  margin-left: 16%;
  background-color: green;
  width: 20%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: larger;
  font-family: Arial, sans-serif;
  border-radius: 20px;
}

.money {
  width: 100%;
}

.labels_bid_comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5%;
  color: #082163;
  font-weight: bolder;
  font-size: larger;
  width: 10%;
}

.auction_bid_and_comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  height: 30%;
  width: 100%;
}

.place_button {
  background-color: #082163;
  border-radius: 4px;
  width: 15%;
  height: 35px;
  color: white;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: #082163 solid;
}

.comment {
  height: 80px;
}

.bid {
  height: 40px;
}

.place_button:hover {
  transform: scale(1.05);
}

.auction_comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5%;
  gap: 20px;
}

.each_comment {
  font-family: Arial, sans-serif;
  background-color: #e8e7e7;
  width: 100%;
  border-radius: 10px;
  min-height: 100px;
  color: #082163;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.each_comment:hover {
  transform: scale(1.02);
}

.comment_author {
  justify-content: flex-start;
  gap: 5px;
  font-size: larger;
  margin-left: 2%;
}

.comment_text {
  width: 60%;
  justify-content: flex-start;
  margin-left: 20%;
  text-align: start;
}

.comment_time {
  justify-content: flex-end;
}

.status {
  width: 10%;
  white-space: nowrap;
  color: #082163;
  font-family: Arial, sans-serif;
}

.no_comment {
  height: 100%;
}

@media (max-width: 1100px) {
  .current_bid {
    margin-left: 5%;
    width: 40%;
  }
  .comment_container, .bid_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
  .comment, .bid {
    width: 90%;
    margin-left: 5%;
  }
  .place_button {
    width: 40%;
    margin-left: 5%;
  }
  .status {
    margin-left: 5%;
  }
}
.comment, .bid {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.no_watchlist_container, .close_auction_div, .body_of_model, .no_comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.go_to_home_link, .watchlist_change, .start_bid_watchlist, .close_auction_link, .dont_close_auction, .close_auction, .head_of_window, .sold_container, .money {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.closing_auction_model {
  display: none;
  left: 50%;
  top: 50%;
  width: 40%;
  height: 50%;
  background: white;
  position: fixed;
  transform: translate(-50%, -50%);
  border-radius: 7px;
}

#closeWindow:target {
  display: block;
}

.head_of_window {
  gap: 20px;
}

.title_of_model {
  position: absolute;
  font-family: Arial, sans-serif;
  margin-top: 5%;
  font-size: 30px;
  color: #082163;
}

.close_button {
  position: relative;
  left: 40%;
  margin-top: 2%;
  font-size: 40px;
  text-decoration: none;
  color: #082163;
}

.close_button:hover {
  transform: scale(1.25);
}

.body_of_model {
  margin-top: 10%;
  gap: 5px;
  color: #082163;
  font-size: 20px;
}

.footer_of_model {
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.dont_close_auction, .close_auction {
  background-color: #082163;
  color: white;
  border-radius: 3px;
  width: 15%;
  height: 40px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: larger;
}

.close_auction:hover {
  transform: scale(1.15);
}

.dont_close_auction:hover {
  transform: scale(1.15);
}

.close_auction_link {
  background-color: #082163;
  border: #082163 solid 3px;
  color: white;
  width: 30%;
  border-radius: 5px;
  font-size: medium;
  font-family: Arial, sans-serif;
  text-decoration: none;
  height: 35px;
  margin-top: 1.5%;
}

.close_auction_link:hover {
  transform: scale(1.02);
}

.close_auction_div {
  width: 55%;
}

@media (max-width: 1100px) {
  .close_auction_link {
    width: 71%;
  }
  .close_auction_div {
    align-items: flex-start !important;
    margin-left: 5%;
  }
}
.comment, .bid {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.no_watchlist_container, .no_comment, .body_of_model, .close_auction_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.go_to_home_link, .watchlist_change, .start_bid_watchlist, .sold_container, .money, .head_of_window, .dont_close_auction, .close_auction, .close_auction_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.comment, .bid {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.no_watchlist_container, .no_comment, .body_of_model, .close_auction_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.go_to_home_link, .watchlist_change, .start_bid_watchlist, .sold_container, .money, .head_of_window, .dont_close_auction, .close_auction, .close_auction_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.all_watchlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 2%;
  align-items: center;
  gap: 2%;
  width: 100%;
  height: 100%;
}

.watchlist_container {
  width: 30%;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 4%;
  border: white solid;
  margin-top: 2%;
}

.image_container_watchlist {
  width: 100%;
  height: 200px;
}

.link_info {
  text-decoration: none;
}

.link_info:hover {
  text-decoration: none;
}

.watchlist_container:hover {
  transform: scale(1.05);
}

.watchlist_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5%;
  text-decoration: none;
}

.start_bid_watchlist {
  width: 50%;
  background-color: green;
  border-radius: 3px;
  color: white;
  height: 35px;
}

.watchlist_heading {
  color: #082163;
  padding-left: 2%;
  margin-bottom: 1%;
}

.no_watchlist {
  color: #082163;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.no_watchlist_container {
  height: 50%;
  width: 100%;
}

.nothing_here_img {
  width: 30%;
}

.watchlist_link_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
  margin-right: 20px;
}

.watchlist_change {
  height: 40px;
  background-color: #082163;
  border: #082163 solid 3px;
  color: white;
  border-radius: 5px;
  font-size: medium;
  font-family: Arial, sans-serif;
}

.watchlist_change:hover {
  transform: scale(1.02);
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .watchlist_container {
    width: 42%;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .watchlist_container {
    width: 70%;
  }
}
@media (max-width: 599px) {
  .watchlist_container {
    width: 85%;
  }
}
body {
  background: radial-gradient(circle at 70% 30%, #a1d9f8 0%, #c0e1f1 15%, #b3e5fc 35%, transparent 60%), radial-gradient(circle at 10% 90%, #8cd3fa 0%, #b7deef 15%, #b3e5fc 25%, transparent 60%), linear-gradient(135deg, #36b7f1, #47aeda);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
}

.message {
  color: white;
  font-family: Arial, sans-serif;
}

.messages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f63131;
  min-width: 20%;
  height: 10%;
  margin-left: 6%;
  border-radius: 3px;
}

.go_to_home_link {
  text-decoration: none;
  background-color: #082163;
  width: 20%;
  height: 40px;
  border-radius: 5px;
  margin-left: 5%;
  color: white;
  font-family: Arial, sans-serif;
  margin-bottom: 3%;
}

.go_to_home_link:hover {
  transform: scale(1.02);
}

@media (max-width: 1100px) {
  .go_to_home_link {
    width: 40%;
  }
}

/*# sourceMappingURL=auction_page.css.map */
