@import 'variables';
.each_auction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 3%;
  margin-top: 1%;
  align-items: center;
  gap: 5%;
  width: 90%;
  border-radius: 10px;
  height: 300px;
  background: white;
  text-decoration: none;
}

.image_container {
  margin-left: 3%;
  border-color: white;
  border-style: solid;
  height: 90%;
  text-align: center;
  width: 20%;
}

.all_auctions_container {

  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info_container {
  font-family: $my-font;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  height: 80%;
  border: black;
  font-weight: bolder;
  color: $my_color;
  text-decoration: none;
}

.each_auction:hover {
  transform: scale(1.02);
}

.all_info:hover {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: larger;
}

.View_full_details {
  color: #0000EE;
}

.View_full_details:hover {
  color: #0000CC;
  text-decoration: underline;
}

.View_full_details:visited {
  color: inherit;
}

.start_bid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: green;
  color: white;
  height: 16%;
  width: 30%;
  border-radius: 5px;
  margin-bottom: 2%;
}

.start_bid:hover {
  transform: scale(1.05);
}

.created_time {
  height: 0.5%;
  margin-bottom: 0;
  font-size: smaller;
  margin-top: 1%;
}

.line {
  border: none;
  height: 1px;
  background-color: #a1a3a6;
  width: 100%;
  margin-bottom: 0;
  margin-top: 5%;
}