.status, .heading {
  color: #082163;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.status, .heading {
  color: #082163;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.nav_right, .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
}

.nav {
  gap: 30%;
  height: 100px;
  width: 100%;
}

.head_title {
  font-family: Arial, sans-serif;
  color: #082163;
  padding-left: 2%;
  font-weight: bolder;
}

.nav_left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2%;
  margin-right: 7%;
}

.nav_right {
  font-size: larger;
  font-weight: bold;
}

.nav-link {
  color: #082163;
  font-family: Arial, sans-serif;
  font-size: 19px;
  white-space: nowrap;
}

.nav-link:hover {
  transform: scale(1.12);
  color: #082163;
}

.status {
  font-size: larger;
}

.heading, .status {
  color: #082163;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.each_auction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 3%;
  margin-top: 1%;
  align-items: center;
  gap: 5%;
  width: 90%;
  border-radius: 10px;
  height: 300px;
  background: white;
  text-decoration: none;
}

.image_container {
  margin-left: 3%;
  border-color: white;
  border-style: solid;
  height: 90%;
  text-align: center;
  width: 20%;
}

.all_auctions_container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info_container {
  font-family: Arial, sans-serif;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  height: 80%;
  border: black;
  font-weight: bolder;
  color: #082163;
  text-decoration: none;
}

.each_auction:hover {
  transform: scale(1.02);
}

.all_info:hover {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: larger;
}

.View_full_details {
  color: #0000EE;
}

.View_full_details:hover {
  color: #0000CC;
  text-decoration: underline;
}

.View_full_details:visited {
  color: inherit;
}

.start_bid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: green;
  color: white;
  height: 16%;
  width: 30%;
  border-radius: 5px;
  margin-bottom: 2%;
}

.start_bid:hover {
  transform: scale(1.05);
}

.created_time {
  height: 0.5%;
  margin-bottom: 0;
  font-size: smaller;
  margin-top: 1%;
}

.line {
  border: none;
  height: 1px;
  background-color: #a1a3a6;
  width: 100%;
  margin-bottom: 0;
  margin-top: 5%;
}

.heading, .status {
  color: #082163;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.category_title, .category_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category_form {
  height: 10%;
  gap: 3%;
  width: 50%;
}

.select_category {
  width: 100%;
  border-radius: 10px;
  padding-left: 1%;
  height: 40px;
}

.search_button {
  width: 35%;
  border-radius: 5px;
  background-color: #082163;
  color: white;
  font-size: larger;
  font-family: Arial, sans-serif;
  border: #082163 solid;
}

.search_button:hover {
  transform: scale(1.05);
}

.category_title {
  width: 60%;
  height: 10%;
  font-family: Arial, sans-serif;
  font-size: 45px;
  color: #082163;
  margin-top: 5%;
}

.form_container {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.message {
  color: red;
  font-family: Arial, sans-serif;
  font-size: large;
  font-weight: bolder;
}

.select_category:hover {
  transform: scale(1.02);
}

.heading, .status {
  color: #082163;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.all_watchlist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 2%;
  align-items: center;
  gap: 2%;
  width: 100%;
  height: 100%;
}

.watchlist_container {
  width: 30%;
  height: 300px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5%;
  border: white solid;
  margin-top: 2%;
}

.link_info {
  text-decoration: none;
}

.link_info:hover {
  text-decoration: none;
}

.watchlist_container:hover {
  transform: scale(1.05);
}

.watchlist_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5%;
  text-decoration: none;
}

.start_bid_watchlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: green;
  border-radius: 3px;
  color: white;
  height: 30px;
}

.watchlist_heading {
  color: #082163;
  padding-left: 2%;
  margin-bottom: 1%;
}

.no_watchlist {
  color: #082163;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.no_watchlist_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.nothing_here_img {
  width: 30%;
}

body {
  width: 100%;
  padding: 10px;
  min-height: 100vh;
  background: radial-gradient(circle at 70% 30%, #0288d1 0%, #3da6d5 15%, #b3e5fc 35%, transparent 60%), radial-gradient(circle at 10% 90%, #5cbaed 0%, #5ec8f6 15%, #b3e5fc 25%, transparent 60%), linear-gradient(135deg, #e1f5fe, #b3e5fc);
}

hr {
  height: 2px;
  background-color: #082163;
}

/*# sourceMappingURL=layout_style.css.map */
