{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ requested_auction.title }}</title>
    <link rel="stylesheet" href="{% static 'auctions/auction_page.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>

</head>
<body>
<form class="watchlist_link_container" action="{% url 'watchlist_add_or_delete' requested_auction.id %}"
      method="POST">
    {% csrf_token %}
    {% if in_watchlist_items %}
        <input class="watchlist_change" type="submit" value="Remove from my watchlist">
    {% else %}
        <input class="watchlist_change" type="submit" value="Add to my watchlist">
    {% endif %}
</form>
<div id="closeWindow" class="closing_auction_model">
    <div class="head_of_window">
        <h3 class="title_of_model">Close auction confirmation</h3>
        <a href="#" class="close_button">×</a>
    </div>
    <div class="body_of_model">
        <p>Are you share about closing the auction?</p>
        <strong>Final bid : {{ requested_auction.start_bid }}</strong>
    </div>
    <div class="footer_of_model">
        <a class="close_auction" href='{% url 'close_auction' requested_auction.id %}'>Yes</a>
        <a class="dont_close_auction"
           href="{% url 'show_auctions' requested_auction.id requested_auction.title %}">No</a>

    </div>
</div>
<div class="auction_info">
    <div class="title">{{ requested_auction.title }}</div>
    <div class="photo_and_desc_container">
        <div class="photo"><img src="{{ requested_auction.photo }}" alt="{{ requested_auction.title }}"></div>
        <div class="category_and_description">
            <div class="description">{{ requested_auction.description }}</div>
            {% if requested_auction.category is not None %}
                <div class="category">Category: {{ requested_auction.category }}</div>
            {% endif %}
            <div class="auction_user_and_time">Listed by : {{ requested_auction.user }}
                at {{ requested_auction.start_date }}
            </div>
        </div>
    </div>
    <div class="current_bid"><p class="money">{{ requested_auction.start_bid }} $</p></div>
    {% if requested_auction.active %}
        <div class="auction_bid_and_comment">
            <form class="bid_container" action="{% url 'place_bid' requested_auction.id %}" method="POST">
                {% csrf_token %}
                <label class="labels_bid_comment" for="bid">Bid: </label>
                <input class="bid" type="number" placeholder="your recommended bid" name="bid">
                <input class="place_button" type="submit" value="Place Bid" name="placing_bid">
            </form>
            <form class="comment_container" action="{% url 'place_comment' requested_auction.id %}" method="POST">
                {% csrf_token %}
                <label class="labels_bid_comment" for="comment">Comment: </label>
                <input class="comment" type="text" placeholder="comment your opinion about this stuff" name="comment">
                <input class="place_button" type="submit" value="Place Comment" name="placing_comment">
            </form>
        </div>
        {% if owner_of_auction %}
            <div class="close_auction_div">
                <a href="#closeWindow" class="close_auction_link">Close auction</a>
            </div>
        {% endif %}
    {% else %}
        <div class="not_allowed_container">It is sold {{ requested_auction.start_bid }} $</div>
    {% endif %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="auction_comments">
        <h2 style="color: #082163">Comments on the listing</h2>
        {% if requested_auction.Comments.all %}
            {% for comment in requested_auction.Comments.all %}
                <div class="each_comment">
                    {% if comment.user %}
                        <div class="comment_author"><i class="bx bxs-user"></i>{{ comment.author_name }}</div>
                    {% else %}
                        <div class="comment_author"><i class="bx bxs-user"></i>Deleted account</div>
                    {% endif %}
                    <div class="comment_text">{{ comment.text }}</div>
                    <div class="comment_time">{{ comment.written_at }}</div>
                </div>
            {% endfor %}
        {% else %}
            <div class="no_comments">No comment</div>
        {% endif %}

    </div>
    <div>
    </div>
    <a class="go_to_home_link" href="{% url 'index' %}">Go to home</a>
</div>
</body>
</html>