{% extends "auctions/layout.html" %}
{% block body %}
    {#    <h2>Active Listings</h2>#}
    <form action="{% url 'categories' %}" method="POST">
        {% csrf_token %}
        <select list="any category" name="category">
            <option>Choose your category</option>
            {% for category in all_categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <input class="search_button" type="submit" value="Search">
    </form>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}