{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Listing</title>
    <link rel="stylesheet" href="{% static 'auctions/create_auction.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body>
<form class="create_auction_form" action="{% url 'create_listing' %}" method="POST">
    {% csrf_token %}
    <div class="head_of_form">
        <h2>Create listing</h2>
    </div>
    <div class="input_container">
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>
    <div class="input_container">
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>
    <div class="input_container">
        {{ form.start_bid.label_tag }}
        {{ form.start_bid }}
    </div>
    <div class="input_container">
        {{ form.category.label_tag }}
        {{ form.category }}
    </div>
    <div class="input_container">
        {{ form.photo.label_tag }}
        {{ form.photo }}
    </div>
    <div class="button_container">
        <input class="Create_button" type="submit" value="Create auction" name="create button">
    </div>
</form>

</body>
</html>