{% extends "auctions/layout.html" %}

{% block body %}
    {% if from_home_or_category %}
    <h2>Active Listings for '{{ requested_category }}'</h2>
    {% else %}
    <h2>Active Listings</h2>
    {% endif %}

    <div class="all_auctions_container">
        {% for auction in all_auctions %}
            {% if auction.active %}
                <a href="{% url 'show_auctions' auction.id  auction.title %}">
                    <div class="each_auction">
                        <div class="image_container"><img src="{{ auction.photo }}" alt="{{ auction.title }}"></div>
                        <div class="info_container">
                            <p class="title">{{ auction.title }}</p>
                            <p class="description">{{ auction.description }}</p>
                            <p class="start_bid">Price: {{ auction.start_bid }} $</p>
                            <p class="created_time">Created at {{ auction.start_date }}</p>
                        </div>
                    </div>

                </a>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}