{% extends "auctions/layout.html" %}

{% block body %}


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="login_form_container">
        <form class="login_form" action="{% url 'login' %}" method="post">
            <h2 class="login_title">Login</h2>
            {% csrf_token %}
            <div class="form-group">
                <label for="form-control" class="label_for_login">Username</label>
                <input autofocus class="form-control_input" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="form-control" class="label_for_login">Password</label>
                <input class="form-control_input" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>

    </div>

{% endblock %}