{% extends "auctions/layout.html" %}

{% block body %}
    <div class="form_container">
        <form class="login_register_form" action="{% url 'register' %}" method="post">
            <h2 class="title_form">Register</h2>
            {% csrf_token %}
            <div class="form-group">
                <label for="form_control" class="label_for_form register_label">Username</label>
                <input class="form_control_input" autofocus type="text" name="username">
            </div>
            <div class="form-group">
                <label for="form_control" class="label_for_form register_label">Email</label>
                <input class="form_control_input" type="email" name="email">
            </div>
            <div class="form-group">
                <label for="form_control" class="label_for_form register_label">Password</label>
                <input class="form_control_input" type="password" name="password">
            </div>
            <div class="form-group">
                <label for="form_control" class="label_for_form register_label">Confirm password</label>
                <input class="form_control_input" type="password" name="confirmation">
            </div>
            {% if message %}
                <div class="message">{{ message }}</div>
            {% endif %}
            <button class="btn btn_register" type="submit">Register</button>
        </form>
        <div class="footer">
            Already have an account? <a class="link" href="{% url 'login' %}">Log In here.</a>

        </div>

    </div>

{% endblock %}